@model List<Product>

<h1>Products</h1>
<a asp-controller="Product" asp-action="Upsert" class="btn btn-warning btn-small">Add New Product</a>
<table class="table table-bordered text-center" id="prodTable">
    <thead class="table-dark">
        <tr>
            <td>ID</td>
            <td>Product Name</td>
            <td>Category</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Rating</td>
            <td>Action</td>
        </tr>
    </thead>
    @*<tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.ID</td>
                <td>@obj.Title</td>
                <td>
                    @if (@obj.Category != null)
                    {
                        @obj.Category.Name
                    }
                </td>
                <td>@obj.Price</td>
                <td>@obj.Count_In_Stock</td>
                <td>@obj.Rating</td>
                <td>
                    <div class="btn-group">
                        <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.ID"><button class="btn btn-warning">Update</button></a>
                        <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@obj.ID" class="btn btn-danger" onclick="DeleteProduct(@obj.ID)">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>*@
</table>

@section Scripts{
    <script src="/js/productDataTable.js"></script>
}
