@using E_Commerce.Models;

@model ShoppingCart

@{
    ViewData["Title"] = "Product Detail";
}

<div class="container mx-auto my-4 p-5 shadow-lg rounded-3">
    <div class="row align-items-center">
        <form method="post">
            <input type="hidden" asp-for="ProductID" />
        <div class="col-md-6 col-12 p-5">
            <img src="@Model.Product.ImageUrl" alt="@Model.Product.Title" class="w-100" />
        </div>
        <div class="col-md-6 col-12">
            <h2>@Model.Product.Title</h2>
            <h3>Price: @Model.Product.Price</h3>
            <h4>Description: @Model.Product.Description</h4>
            <h3>In Stock: @Model.Product.Count_In_Stock</h3>
            <h3>Rating: @Model.Product.Rating</h3>
            <div class="form-floating w-50">
            <input asp-for="Quantity" class="form-control" />
            <label asp-for="Quantity"></label>
            </div>
            <button class="btn btn-warning">Add to Cart</button>
        </div>
        </form>

    </div>

</div>


